{% extends "layout.html" %}
{% block content %}
<H1>Hello!</H1>
<p>
    I am <span style="color: indigo;font-size: 18px;font-weight: 700;">Rohnak Agarwal</span>.
</p>
<p>
    I am currently a <i>3rd year</i> <b>B.Tech.(Computer Science and Engineering)</b>
    student at <b>College of Engineering and Technology (CET)</b>,
    Ghatikia, Bhubaneswar.
</p>
<p>
    I am a member at <b>Centre of Excellence - Artificial Intelligence (CoE-AI) Lab</b> at CET.
</p>
<p>
    Welcome to my portfolio!
</p>
{% endblock %}