{% extends "layout.html" %}
{% block content %}

<H1>Poems</H1>

    <H3>Collections  ({{ poems.collections|length }})</H3>
    <div class="row">
        {% for poem in poems.collections[::-1] %}
            <div class="col-12 col-md-6 col-lg-6">
                <div class="item-box">
                    <div>
                        <div class="poem-name"><a href="{{ url_for('poem_bp.poem', p_id=poem.id) }}" class="item-url poem-title">{{ poem.name }}</a></div>
                        <div class="poem-date">{{ poem.date }}</div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

    <H3>Short Poems ({{ poems.short_poems|length }})</H3>
    <div class="row">
        {% for poem in poems.short_poems[::-1] %}
            <div class="col-12 col-md-6 col-lg-6">
                <div class="item-box">
                    <div>
                        <div class="poem-name"><a href="{{ url_for('poem_bp.poem', p_id=poem.id) }}" class="item-url poem-title">{{ poem.name }}</a></div>
                        <div class="poem-date">{{ poem.date }}</div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    <div class="pt-5"></div>
{% endblock %}