{% extends "layout.html" %}
{% block content %}
<style>
.item{
    color: indigo;
    font-weight: 700;
}
.tech{
    color: white;
    background-color: indigo;
    padding: 2px 15px 5px 15px;
    border-radius: 100px;
}
</style>
<h1 class="mt-5 mb-3">Projects ({{ projects|length }})</h1>
<div class="row">
    {% for project in projects %}
    <div class="col-12 col-md-6">
        <div class="item-box">
            <div style="text-align: center;">
                {% if project.image_url %}
                    <div>
                        <img src="{{ project.image_url }}" height="100" width="100">
                    </div>
                {% endif %}
                <div class="mt-2">
                    <div style="color: #7e7e7e;font-weight: 600;">{{ project.date }}</div>
                    <div class="item ">{{ project.name }}</div>
                    <div style="text-align: justify;">{{ project.desc }}</div>
                    <div class="row">
                            {% for tech in project.techUsed %}
                                <div class="mt-3 col-6 col-md-3">
                                    <div class="tech">{{ tech }}</div>
                                </div>
                            {% endfor %}
                    </div>
                </div>
                <div class="mt-2 row">
                    <div class="col-6" style="font-weight: 700;">{{ project.type }}</div>
                    <div class="col-6" style="color: green;font-weight: 700;">{{ project.domain }}</div>
                </div>
            </div>
            <div class="mt-3 ml-2">
                {% if project.url %}
                    <a class="item-url" href="{{ project.url }}" target="_blank">View End Product</a>
                {% endif %}
            </div>
        </div>
    </div>
    {% endfor %}
</div>
<div style="height: 40px;"></div>
{% endblock %}