{% extends "layout.html" %}
{% block content %}
<style>
.tech{
  color: white;
  border-radius: 100px;
  background-color: indigo;
  text-align: center;
  padding: 2px 10px 5px 10px;
}
</style>
<h1>Technical</h1>

<h3 class="mt-5">Experience ({{ technical.experiences|length }})</h3>
<div class="row">
    {% for exper in technical.experiences %}
        <div class="col-12 col-md-6">
            <div class="item-box">
                <div style="color: #7d7d7d;font-weight: 700;">
                    {{ exper.start_date }} - {% if exper.end_date%}{{ exper.end_date }}{% else %} Now {% endif %}
                </div>
                <div style="color: indigo;font-weight: 700;">{{ exper.name }}</div>
                <div style="color: black;font-weight: 600;">{{ exper.place }}</div>
                <div><b>{{ exper.weeks }} weeks</b></div>
                <div class="row">
                    {% for tech in exper.techs %}
                        <div class="col-6 col-md-3">
                            <div class="tech mt-2">{{ tech }}</div>
                        </div>
                    {% endfor %}
                </div>
                <div class="ml-1 mt-2" style="font-weight: 600;">{{ exper.type }}</div>
            </div>
        </div>
    {% endfor %}
</div>


<h3 class="mt-5">Certificates ({{ technical.certificates|length }})</h3>
<div class="row">
    {% for cert in technical.certificates %}
        <div class="col-12 col-md-6">
            <div class="item-box">
                <span>
                    <span style="display: flex;">
                        <div style="flex-grow: 1;">
                            <div style="font-weight: bold;color: indigo;">{{ cert.name }}</div>
                            <div>{{ cert.issuer }}</div>
                        </div>
                        <div style="color: #666666; font-weight: 700;width: 120px;text-align: right;">
                            {{ cert.date }}
                        </div>
                    </span>
                </span>
                <div style="font-weight: 600;color: #666666;">{{ cert.type }}</div>
                <a style="font-size: 14px;" class="item-url" href="{{ url_for('technical_project.certificate', c_id=loop.index) }}">View Document</a>
            </div>
        </div>
    {% endfor %}
</div>


<h3 class="mt-5">Skills ({{ technical.skills|length }})</h3>
<div class="row">
    {% for skill in technical.skills %}
        <div class="col-12 col-md-4 col-lg-3">
            <div class="item-box">
                <span style="font-weight: bold;color: indigo;">
                    <img class="skill-img" style="margin-right: 15px;" src="{{ url_for('static', filename=skill.url) }}">
                    {{ skill.name }}
                </span>
            </div>
        </div>
    {% endfor %}
</div>
<div style="height: 50px;"></div>
{% endblock %}