{% extends "layout.html" %}
{% block content %}
<h1>Technical</h1>

<h3 class="mt-5">Experience</h3>
<div class="row">

</div>


<h3 class="mt-5">Certificates ({{ technical.certificates|length }})</h3>
<div class="row">
    {% for cert in technical.get_certificates() %}
        <div class="col-12 col-md-6">
            <div class="item-box">
                <span>
                    <span style="display: flex;">
                        <div style="flex-grow: 1;">
                            <div style="font-weight: bold;color: indigo;">{{ cert.name }}</div>
                            <div>{{ cert.issuer }}</div>
                        </div>
                        <div style="color: #666666; font-weight: 700;width: 120px;text-align: right;">
                            {{ cert.date }}
                        </div>
                    </span>
                </span>
                <div style="font-weight: 600;color: #666666;">{{ cert.type }}</div>
                <a style="font-size: 14px;color: indigo;" class="item-url" href="{{ url_for('main.certificate', c_id=loop.index) }}">View Document</a>
            </div>
        </div>
    {% endfor %}
</div>


<h3 class="mt-5">Skills ({{ technical.skills|length }})</h3>
<div class="row">
    {% for skill in technical.skills %}
        <div class="col-12 col-md-4 col-lg-3">
            <div class="item-box">
                <span style="font-weight: bold;color: indigo;">
                    <img class="skill-img" style="margin-right: 15px;" src="{{ url_for('static', filename=skill.url) }}">
                    {{ skill.name }}
                </span>
            </div>
        </div>
    {% endfor %}
</div>
<div style="height: 50px;"></div>
{% endblock %}